extends ../layout 
block content
    .row
        .col-sm-8
             h1=title
        .col-sm-4
            a(href="/products/add", class="btn btn-success float-right" id="new_button") Add New Product
    table.table
        thead
            tr
                th Name
                th Category
                th Price
                th Details
                th Action
        tbody
            each product in products
                tr
                    td=product.name
                    td=product.category
                    td=product.price  
                    td=product.details  
                    td
                        a(href="/products/delete"+product._id, class="btn btn-danger") Delete
                        a(href="/products/cart"+product._id, class="btn btn-info") Add to Cart